{% extends 'base.html' %}

{% block content %}
<div class="card">
    <h1>{{ title }}</h1>

    <form method="post">
        {% csrf_token %}
    {% for f in form %}
    <p>
        <label class="form-label" for="{{ f.id_for_label }}">
                {{ f.label }}
        </label>
        {{ f }}

    </p>
    <div class="form-error">
        {{ f.errors }}
    </div>
    {% endfor %}

        <button type="submit" style="font-size : 20px; width: 30%; height: 50px" >
            Авторизироваться
        </button>

    </form>
    <br>
    <div>
        <small>Нет аккаунта? <a href="{% url 'register' %}">Зарегестрироваться</a></small>
    </div>
</div>
{% endblock %}